<div>
  {{ event.direction == 'receipt' ? '+' : '-' }} {{ event.amount }} {{ event.currency }}<br/>
  {{ event.sender }}
  <div class="description">
    {{ event.description }}
    <button (click)="delete()">Прочитана</button>
  </div>
</div>
