<table>
  <tr *ngIf="event_item" [ngClass]="{'collapsed':event_item.collapsed}">
    <td>
      <button (click)="toggle()">&#9745;</button>
    </td>
    <td>
      {{ event_item.event.date }}
    </td>
    <td>
      <app-dynamic-list-item
        [event]="event_item.event"
      ></app-dynamic-list-item>
    </td>
  </tr>
</table>
